albumentations==1.1.0
argparse==1.4.0
ftfy==6.1.1
grpcio==1.46.1
h5py==3.1.0
huggingface-hub==0.6.0
imageio==2.19.1
joblib==1.0.1
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.3.56
opencv-python-headless==4.1.2.30
pandas==1.2.1
pathlib==1.0.1
plotly==5.9.0
psutil==5.8.0
python-dateutil==2.8.1
regex==2020.11.13
scikit-image==0.19.2
scikit-learn==0.24.1
scipy==1.6.1
sklearn==0.0
tifffile==2022.5.4
tokenizers==0.12.1
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
transformers==4.19.0
